 
  div.accionar{
    position:fixed;
    border-radius: 6px;
    width:86%;
    bottom:60px;
    font-size: 16px;
    max-width: 338px;
    background-color: #43B02A;
    margin-left: 14px;
    color:white ;
display: flex;
justify-content: center;
align-items: center;
    text-transform: none;
    height: 48px;
    text-align: center;

    }
 
