.footer{
  position: fixed;
  bottom:0;
  height: 50px;
  // width:100%;
  z-index: 1000;
  background-color: $background;
  display: flex !important;
  .selected{
    color:#43B02A;
  }
  div{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   } 
}