@import "./variables.scss";
@import "./header.scss";
@import "./nav.scss";
@import "./orders.scss";
@import "./footer.scss";
@import "./accionar.scss";
@import "./common.scss";
@import "./delivers.scss";

body{
  background-color:$background;
  position: relative !important;
  max-width: 400px;
}



